table {
  border-collapse: collapse;
}
table#consonant_table {
  width: 900px;
}
table#vowel_table {
  width: 500px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}